<!-- #1  -->
<section class="block block--dark footer-block">
  <div class="collapsible collapsible--expanded footer__header">
    <header class="collapsible__header">
      <h2 class="collapsilbe__heading">PRODUCTS</h2>
      <svg
        class="icon icon--white collapsible__chevron"
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 51 51"
      >
        <defs>
          <style>
            .cls-1 {
              fill: #393939;
            }
          </style>
        </defs>
        <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
        <rect
          class="cls-2"
          x="24.4"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
        />
        <rect
          class="cls-2"
          x="33.3"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="translate(24 -21.9) rotate(37.3)"
        />
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">WordPress Hosting</li>
        <li class="list__item">Free Automated WordPress</li>
        <li class="list__item">Migrations</li>
        <li class="list__item">Domain Names</li>
        <li class="list__item">Monthly Web Hosting</li>
      </ul>
    </div>
  </div>
  <!-- #2  -->
  <div class="collapsible collapsible--expanded footer__header">
    <header class="collapsible__header">
      <h2 class="collapsilbe__heading">COMPANY</h2>
      <svg
        class="icon icon--white collapsible__chevron"
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 51 51"
      >
        <defs>
          <style>
            .cls-1 {
              fill: #393939;
            }
          </style>
        </defs>
        <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
        <rect
          class="cls-2"
          x="24.4"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
        />
        <rect
          class="cls-2"
          x="33.3"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="translate(24 -21.9) rotate(37.3)"
        />
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">About</li>
        <li class="list__item">Affiliates</li>
        <li class="list__item">Blog</li>
        <li class="list__item">Careers</li>
        <li class="list__item">Community</li>
        <li class="list__item">News</li>
        <li class="list__item">Green Hosting</li>
      </ul>
    </div>
  </div>
  <!-- #3  -->
  <div class="collapsible collapsible--expanded footer__header">
    <header class="collapsible__header">
      <h2 class="collapsilbe__heading">SUPPORT</h2>
      <svg
        class="icon icon--white collapsible__chevron"
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 51 51"
      >
        <defs>
          <style>
            .cls-1 {
              fill: #393939;
            }
          </style>
        </defs>
        <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
        <rect
          class="cls-2"
          x="24.4"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
        />
        <rect
          class="cls-2"
          x="33.3"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="translate(24 -21.9) rotate(37.3)"
        />
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">Contact</li>
        <li class="list__item">Knowledge Base</li>
        <li class="list__item">Forums</li>
        <li class="list__item">System Status</li>
        <li class="list__item">Web Hosting</li>
        <li class="list__item">DreamCompute</li>
      </ul>
    </div>
  </div>
  <!-- #4  -->
  <div class="collapsible collapsible--expanded footer__header">
    <header class="collapsible__header">
      <h2 class="collapsilbe__heading">DOMAINS</h2>
      <svg
        class="icon icon--white collapsible__chevron"
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 51 51"
      >
        <defs>
          <style>
            .cls-1 {
              fill: #393939;
            }
          </style>
        </defs>
        <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
        <rect
          class="cls-2"
          x="24.4"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
        />
        <rect
          class="cls-2"
          x="33.3"
          y="27.9"
          width="1.6"
          height="15.24"
          rx="0.8"
          transform="translate(24 -21.9) rotate(37.3)"
        />
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">Domain Checker</li>
        <li class="list__item">Domain Transfer</li>
        <li class="list__item">Free Domain</li>
        <li class="list__item">XYZ Domain</li>
        <li class="list__item">Cheap SSL Certificate</li>
      </ul>
    </div>
  </div>
  <a class="nav__brand" href="/"
    ><img class="footer-logo" src="Images/logo.svg" alt=""
  /></a>
  <p class="footer-copy">Copyright © 2020 Mosh</p>
</section>
<!-- Done -->
